<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.skyler.camera.sony"
        version="0.1.0">

  <name>SonyCameraAPI</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SonyCameraAPI">
        <param name="android-package" value="com.skyler.camera.sony"/>
      </feature>
    </config-file>

    <source-file src="src/android/SonyCameraAPI.java" target-dir="src/com/skyler/plugin/"/>
  </platform>

</plugin>
